<div id="slider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item slide1 active">
      <div class="slider-wrapper">
        <div class="slider-text">
          <h1>First <span>slide</span> label</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce nec faucibus purus. In consectetur erat erat, vel rhoncus
            nibh imperdiet vitae.
          </p>
          <ul>
            <li><a href="/">CONTACT US</a></li>
            <li><a href="/">READ MORE</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="carousel-item slide2">
      <div class="slider-wrapper">
        <div class="slider-text">
          <h1>Second <span>slide</span> label</h1>
          <p>Maecenas bibendum molestie rhoncus. Suspendisse quam est,
            tristique ut mauris vel, accumsan varius dui. Aliquam gravida nisl
            sed pulvinar tempor. Donec eu dui ac nisl tincidunt cursus vel at nunc.
          </p>
          <ul>
            <li><a href="/">CONTACT US</a></li>
            <li><a href="/">READ MORE</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="carousel-item slide3">
      <div class="slider-wrapper">
        <div class="slider-text">
          <h1>Third <span>slide</span> label</h1>
          <p>Donec eu pulvinar libero. Duis finibus nunc in tincidunt vulputate.
            In sed convallis magna. Suspendisse eu est nec est imperdiet dapibus.
            Sed congue justo sit amet consequat pretium.
          </p>
          <ul>
            <li><a href="/">CONTACT US</a></li>
            <li><a href="/">READ MORE</a></li>
          </ul>
        </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
