/* You can add global styles to this file, and also import other style files */
$blue: #4795c3;
$grey: #686f77;
$yellow: #ecc64b;
$green: #0b9ea6;
$red: #f26667;
$light: #e0e0e0;

$menu-background: #343e48;

* {
  font-family: 'Lato';
}


