<footer class="footer text-center text-white bg-dark footer2" >
  <div class="container-fluid text-center">
      <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Location</h4>
              <p class="lead mb-0">
                  Alajuela
                  <br />
                  Costa Rica
              </p>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Social Media</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/lmiranda08"><i class="fab fa-fw fa-github"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/luis-miranda-6605901a3/"><i class="fab fa-fw fa-linkedin-in"></i></a>
          </div>
      </div>
      <div class="row">
          <div class="col text-center">
              <div class="copyright p-2 text-center bg-dark text-white">
                  <div class="container"><small>Copyright © Luis Miranda {{ anio }} </small></div>
              </div>
          </div>
      </div>
  </div>
</footer>
